@model ForgetPasswordViewModel
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Your Inbox";
}
<div class="main-agileinfo">
    <div class="agileits-top">
        <p>
            We’ve sent a reset password link to your email.
            <br />
            <a href="https://mail.google.com" target="_blank">Go to Gmail</a>
        </p>
    </div>
</div>
